
.ipynb_checkpoints/k-fold-crossvalidation-checkpoint.ipynb
VGG/.ipynb_checkpoints/k-fold crossvalidation VGG-checkpoint.ipynb
.ipynb_checkpoints/k-fold-crossvalidation-checkpoint.ipynb
k-fold-crossvalidation.ipynb
